.header__nav-item.--second-menu:hover > .megamenu {
    cursor: default;
    display: flex;
    justify-content: space-between;
}

.megamenu {
    display: none;

    border-top: 1px solid $tay-grayer;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px;
    background-color: $tay-white;
    width: 100%;

    &__links {
        list-style: none;

        li:hover {
            font-weight: bold;
        }
    }

    &__feature-products {
        display: flex;

        // li:last-child {
        //     margin-bottom: unset;
        // }
    }

    ul {
        margin: 0;
        padding: 0;
    }
}
