$tay-gray: #d5d5d5;
$tay-grayer: hsla(0, 0, 64, 0.5);
$tay-grayest: hsla(0, 0, 30, 1);
$tay-green: #0b421a;
$tay-blue: #1d2e49;
$tay-white: #ffffff;

// links
// #####
$color-link-bg: red;

$primary-color: $tay-green;
$secondary-color: $tay-gray;
$complimentary-color: $tay-blue;
