//
// padding top
//
.--pt-0 {
  padding-top: 0;
}

.--pt-xs {
  padding-top: 4px;
}

.--pt-s {
  padding-top: 8px;
}

.--pt-m {
  padding-top: 16px;
}

.--pt-l {
  padding-top: 24px;
}

.--pt-xl {
  padding-top: 36px;
}

.--pt-xxl {
  padding-top: 48px;
}

//
// padding bottom
//

.--pb-0 {
  padding-bottom: 0;
}

.--pb-xs {
  padding-bottom: 4px;
}

.--pb-s {
  padding-bottom: 8px;
}

.--pb-m {
  padding-bottom: 16px;
}

.--pb-l {
  padding-bottom: 24px;
}

.--pb-xl {
  padding-bottom: 36px;
}

.--pb-xxl {
  padding-bottom: 48px;
}

//
// margin top
//

.--mt-0 {
  margin-top: 0;
}

.--mt-xs {
  margin-top: 4px;
}

.--mt-s {
  margin-top: 8px;
}

.--mt-m {
  margin-top: 16px;
}

.--mt-l {
  margin-top: 24px;
}

.--mt-xl {
  margin-top: 36px;
}

.--mt-xxl {
  margin-top: 48px;
}

//
// margin bottom
//

.--mb-0 {
  margin-bottom: 0;
}

.--mb-xs {
  margin-bottom: 4px;
}

.--mb-s {
  margin-bottom: 8px;
}

.--mb-m {
  margin-bottom: 16px;
}

.--mb-l {
  margin-bottom: 24px;
}

.--mb-xl {
  margin-bottom: 36px;
}

.--mb-xxl {
  margin-bottom: 48px;
}
